.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 400px;  /*TODO: This property affects only rows with the size not set.*/
    justify-content: center;
}

.container > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}